{% extends "base.html" %}
{% block title %}凡例{% endblock %}
{% block content %}
<div class="navbar">
    <nav class="nav nav-tabs" id="usage-tab">
        <a class="nav-link active" id="principles-tab" data-bs-toggle="tab" href="#principles" role="tab"
           aria-controls="principles" aria-selected="true">編輯原則</a>
        <a class="nav-link" id="entry-cat-tab" data-bs-toggle="tab" href="#entry-cat" role="tab"
           aria-controls="entry-cat" aria-selected="false">辭彙體系</a>
        <a class="nav-link" id="arrangement-tab" data-bs-toggle="tab" href="#arrangement" role="tab"
           aria-controls="arrangement" aria-selected="false">排列原則</a>
        <a class="nav-link" id="details-tab" data-bs-toggle="tab" href="#details" role="tab"
           aria-controls="details" aria-selected="false">凡例要點</a>
        <a class="nav-link" id="disclaimer-tab" data-bs-toggle="tab" href="#disclaimer" role="tab"
           aria-controls="disclaimer" aria-selected="false">免責聲明</a>
    </nav>
</div>

<div class="tab-content">
    <div class="tab-pane show active" id="principles" role="tabpanel" aria-labelledby="principles-tab">
        <h2>編輯原則</h2>
        <p>呢本辭典跟以下原則蒐集、編輯辭彙：</p>
        <ul>
            <li>有異體字嘅字詞，唔另外列詞條，只以括弧喺原詞條隔籬標明。例如：</li>
            <li>發音基本上跟從一般大眾常見嘅發音（懶音除外）。例如：</li>
        </ul>
    </div>
    <div class="tab-pane" id="entry-cat" role="tabpanel" aria-labelledby="entry-cat-tab">
        <h2>辭彙體系</h2>
        <p>呢本辭典蒐集嘅辭彙有：</p>
        <ol>
            <li>成語：有典故可尋嘅詞組，例如：「東施效顰」、「三長兩短」等。</li>
            <li>慣用語：缺少成語嘅特徵，但係形式好似好似成語嘅詞組，例如：「總而言之」、「風和日麗」等。</li>
            <li>歇後語：兼具成語同慣用語嘅特徵，通常以謎面同謎底組成，例如：「過街老鼠——人人喊打」、「老公撥扇——淒涼」等。</li>
            <li></li>
            <li>諺語：格言、俗語等平時常見嘅語言資料，例如「」等。</li>
            <li>外來語：已經凝固喺香港粵語嘅外來語，例如「士多啤梨」、「巴士」等。</li>
            <li>專門用語：名人人名、地名、事物名或者專業術語。</li>
        </ol>
    </div>
    <div class="tab-pane" id="arrangement" role="tabpanel" aria-labelledby="arrangement-tab">
        <h2>排列原則</h2>
        <p></p>
    </div>
    <div class="tab-pane" id="details" role="tabpanel" aria-labelledby="details-tab">
        <h2>凡例要點</h2>
        <h3></h3>
        <p></p>
        <h3>外來詞</h3>
        <p>除非某個外來詞……。例如：</p>
        <h3>歐化詞</h3>
        <p>除非某個歐化詞無相應粵語辭彙，否則只列出詞條同參照，唔會另外說明。例如：</p>
        <h3>兩岸三地辭彙</h3>
        <p>無論係中國定係臺灣嘅詞語，除非佢哋無相應粵語辭彙，否則只列出詞條同參照，唔會另外說明。例如：</p>
    </div>
    <div class="tab-pane" id="disclaimer" role="tabpanel" aria-labelledby="disclaimer-tab">
        <h2>免責聲明</h2>
        <p>用呢本辭典嘅時候要注意：</p>
        <ul>
            <li>呢本辭典裏面嘅字形唔係唯一標準，只供參考。</li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
{% endblock %}
